{% extends 'base/home.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"> Sección <small>Categorias</small></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Listado de Categorías</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!--AQUI SE COLOCA EL CONTENIDO PRINCIPAL DE LA PÁGINA-->

      <div class="row">
        <div class="col-md-12">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{title}}
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">Nro</th>
                        <th>Nombre</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for c in obj %}
                      <tr>
                        <td>{{c.id}}</td>
                        <td>{{c.name}}</td>
                        <td>
                          <button type="button" class="btn btn-warning btn-xs btn-flat">
                            <i class="fas fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-danger btn-xs btn-flat">
                            <i class="fas fa-trash-alt"></i>
                            </div>
                        </td>

                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button class="btn btn-primary btn-flat">
              <i class="fas fa-plus"></i> Nuevo registro
          </button>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}